.item-container {
  display: flex;
}
.item {
  width: 100px;
  height: 50px;
  border: 1px solid red;
  margin-right: 10px;
  transform: skewX(32deg);
}
.inner-item{
  transform: skewX(32deg);
}
.item:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -0.2rem;
  width: 0;
  height: 0;
  /* border-top: 0.2rem solid transparent; */
  border-right: 0.4rem solid #1f2231;
  border-bottom: 0.2rem solid transparent;
}
